@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#0a0e14] text-[#fffff0] relative 
        font-sans overflow-x-hidden;
        font-family: 'Inter', sans-serif;
    }

    h1, h2, h3 {
        font-family: 'Playfair Display Black', serif;
    }
    
    [data-aos="fade"] {
        transform: none !important;
    }
}